[Desktop Entry]
Name=ShimeLinux
Version=0.1.0
Comment=Shimeji desktop pet
Icon=shimelinux
Type=Application
Categories=Graphics;
Exec=/usr/bin/shimelinux
