[Desktop Entry]
Name=ShimeLinux
Version=1.1.3
Comment=Shimeji desktop pet
Icon=shimelinux
Type=Application
Categories=Graphics;
Exec=/usr/bin/shimelinux
